.formStyles{
    background-image: url("https://picsum.photos/1300/1100/?image=0&random");
	
  height: auto;
  
    
}
.forms{
    border:2px solid #E1E1E1;
	border-radius: 5px;
	position: absolute;
	top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
	background-color: white;
	border-radius: 3px;
    
}